.webProducts{
    width: auto;
    background-color: rgb(41, 41, 41);
    color: white;
}

.webProducts:hover{
    background-color: rgb(65, 65, 65);
}

.webProducts figcaption{
    color: 	#DC3545;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}

.webProducts img{
    width: 100%;
    border-radius: 5px;
}

.webProducts p{
    font-weight: 900;
    font-size: 1.1rem;
}

.webProducts span{
font-weight: 900;
color: 	#DC3545;
font-size: 1.2rem;
}

.webProducts button{
    width: 100%;
}